.font-size {
 font-size: 3rem;
}
.whatsapp-float {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 40px;
  right: 30px;
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.2s;
}
.whatsapp-float:hover {
  transform: scale(1.1);
}