<div class="section section-dark section-nucleo-icons">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h5 class="title mb-0">Quiéne somos</h5>
                <h2 class="text-warning mt-0">Acerca de la empresa</h2><br/>
                <p class="description">
                    Somos una empresa constituida legalmente de obras civiles, con un equipo técnico profesional que ofrece asesoría, diseño y construcción para proyectos. Nos enfocamos en identificar y adaptar las necesidades del entorno con conciencia social, humanitaria y ecológica, guiados por principios de responsabilidad, eficiencia y eficacia.
                </p><br/>
                <a routerLink="nosotros" class="btn btn-outline-warning btn-round" target="_blank">Saber más</a>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="rombo "></div>
                <div class="rombo m-auto"></div>
            </div>
        </div>
    </div>
</div>